<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/metric-store/0-4/release-notes.html">Pivotal Metric Store v0.4 Release Notes</a>
      </li>
      <li>
        <a href="/metric-store/0-4/index.html">Pivotal Metric Store</a>
      </li>
      <li>
        <a href="/metric-store/0-4/installing.html">Installing Pivotal Metric Store</a>
      </li>
      <li>
        <a href="/metric-store/0-4/using.html">Using Pivotal Metric Store</a>
      </li>
      <li>
        <a href="/metric-store/0-4/monitoring.html">Monitoring Pivotal Metric Store</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
